<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs')  %>
    <body>
        <%- include('./partials/nav.ejs')  %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, accusamus. Illum perspiciatis magni incidunt iure dignissimos ullam, laudantium, numquam voluptatem eligendi provident excepturi, odit autem soluta expedita dolor repellat earum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, accusamus. Illum perspiciatis magni incidunt iure dignissimos ullam, laudantium, numquam voluptatem eligendi provident excepturi, odit autem soluta expedita dolor repellat earum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, accusamus. Illum perspiciatis magni incidunt iure dignissimos ullam, laudantium, numquam voluptatem eligendi provident excepturi, odit autem soluta expedita dolor repellat earum.</p>
        </div>

        <%- include('./partials/footer.ejs')  %>
    </body>
</html>